{% extends 'base.html.twig' %}

{% block title %}Hello MentionsLegalesController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div>
<div>
   <h1 class="text-center">Mentions Légales</h1>

   <h4>Identité</h4>

   <p>Le site www.zalando.fr (ci-après dénommé le « Site ») est édité et exploité par la société ZALANDO SE, société anonyme de droit allemand au capital social de EUR 246.297.493, dont le siège social est situé Valeska-Gert-Straße 5, D-10243 BERLIN, Allemagne, immatriculée au Registre du commerce et des sociétés de BERLIN (CHARLOTTENBURG) sous le numéro HRB 158855 B.

Représentants légaux : Robert Gentz, David Schneider, Rubin Ritter, James Freeman II, David Schröder

Président du conseil de surveillance : Cristina Stenbeck

Numéro de TVA intra-communautaire: DE 260543043.

N° d´identification fiscal: 37/132/45004</p>

</div>

<div>
   

   <h4>Contact</h4>

   <p>Notre service de relations clients est joignable via notre formulaire de contact ou par téléphone au numéro 01 82 88 49 63 du lundi - dimanche de 8h à 22h.

mentionslegales@zalando.fr</p>

</div>

<div>

   <h4>Aide et Contact </h4>

   <p>https://www.zalando.fr/aide/</p>

</div>
<div>
   

   <h4>Hébergeur</h4>

   <p>L’Hébergement du Site est assuré par :
Telefónica O2 Germany GmbH et Co. OHG
Georg-Brauchle-Ring 23-25
80992 München
Allemagne
Directeur de publication: Robert Gentz</p>

</div>
<div>
   

   <h4>Propriété intellectuelle</h4>

   <p>Le Site est une oeuvre de l’esprit protégée par la loi. Son contenu, y compris les textes, illustrations, photographies et présentations sont strictement réservés au titre du droit d'auteur ainsi qu'au titre de la propriété intellectuelle. Il en va de même de la base de données contenue sur le Site. La société Zalando SE vous accorde une licence limitée, non-exclusive, révocable, sans droit de souslicencier sur le contenu du Site, et ce, pour les simples accès, navigation et utilisation liés au Site. Cette licence ne vous accorde aucun autre droit, en particulier d'exploitation commerciale de ces contenus.</p>

</div>
<div>
   
   <h4>Marques</h4>

   <p>Les dénominations sociales, marques et signes distinctifs figurant sur le Site sont protégés par la loi française et internationale. Toute utilisation, reproduction, diffusion ou représentation de tout ou partie d'un des signes précités sans autorisation expresse écrite est interdite.</p>

</div>
<div>
   

   <h4>Données personnelles</h4>

   <p>Pour des informations relatives à la collecte, le traitement et l’utilisation de vos données personnelles, nous vous invitons à vous référer à notre déclaration relative à la protection des données à caractère personnel.</p>

</div>
<div>
   

   <h4>Limitation de responsabilité</h4>

   <p>Nous nous efforçons d'assurer, au mieux de nos possibilités, l'exactitude et l’actualité des informations diffusées sur le Site. Nous nous réservons le droit de corriger et de modifier le contenu du Site à tout moment et sans préavis. Il appartient aux visiteurs du Site de vérifier l'information donnée sur le Site par d'autres moyens, y compris en nous contactant directement. Nous déclinons toute responsabilité (a) pour toute imprécision, inexactitude ou omission relative aux informations disponibles sur le Site, (b) pour les dommages résultant d'une modification des informations figurant sur le Site causée par une éventuelle manipulation frauduleuse effectuée par des tiers et (c) pour tous dommages, directs ou indirects, quelles qu'en soient les causes, origines, nature ou conséquences, provoqués à raison de l'accès de quiconque au Site ou de l'impossibilité d'y accéder, de même que l'utilisation du Site et/ou du crédit accordé à une quelconque information provenant directement ou indirectement de ce dernier. Les limitations de responsabilité précitées ne s’appliquent pas en cas de faute grave ou intentionnelle de la société Zalando S.A.S et/ou de mort d'un consommateur ou de dommages corporels causés à celui-ci, résultant d'une faute de la société Zalando SE</p>

</div>
<div>

   <h4>Note</h4>

   <p>Lien vers la plateforme de la Commission Européenne en accord avec le règlement relatif au RLLC (Règlement en Ligne des Litiges de Consommation).</p>

</div>


</div>

{% endblock %}
